*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #2D2832;
    --color-primary-window: #0f0e10;
    --color-frame:#2c2335;
    --color-secondary: #AA96BE;
    --color-tertiary: #514570;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-button: #46325A;
    --color-button-disabled: #271539;
    --color-button-highlight: #5c4870;
    --color-font-1: #FFFFFF;
    --color-font-2: #d0c0e0;
    --color-link-1:#bd8de0;

    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
    --box-shadow-2: 5px 5px 3px 10px rgba(0, 0, 0, .5);
    --text-shadow-1:1px 1px 2px rgba(0,0,0,.5);
}

.theme2{
    --color-primary: #855446;
    --color-primary-window: #ffd3bf;
    --color-frame:#352723;
    --color-secondary: #c47e6a;
    --color-tertiary: #f6ad7c;
    --color-white: #000000;
    --color-black: #ffffff;
    --color-button:#f5bc99;
    --color-button-disabled: #59220e;
    --color-button-highlight: #e3a685;
    --color-font-1: #000000;
    --color-font-2: #b65030;
    --color-link-1:#c73333;

    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
    --box-shadow-2: 5px 5px 3px 10px rgba(0, 0, 0, .5);
    --text-shadow-1:1px 1px 3px rgba(1,1,1,.5);;
}

body{
    font-family: 'Yantramanav', sans-serif;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color:inherit;
    font-family: inherit;
}

header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    padding: 3rem 18rem;
}

.section{
    display: none;
    background-color: var(--color-primary);
    animation: leaveAnim .5s ease-in-out;
}

.theme-btn{
    padding:1rem;
    border-radius: 10px;
    background-color: var(--color-primary);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right:auto;
    position: relative;
    transition: .1s ease-in-out;
    color:white;
    i{
        font-size: 2rem;
    }
    &:hover{
        background-color: var(--color-secondary);
        color: var(--color-black);
    }
}
/*
.sec1{
    display:none;
    transform: translateX(0) scale(1);
    background-color: var(--color-primary);

}

.sec2{
    display:none;
    transform: translateX(0) scale(1);
    background-color: var(--color-primary);

}

.sec3{
    display:none;
    transform: translateX(0) scale(1);
    background-color: var(--color-primary);


}

.sec4{
    display:none;
    transform: translateX(0) scale(1);
    background-color: var(--color-primary);


}

.sec5{
    display:none;
    transform: translateX(0) scale(1);
    background-color: var(--color-primary);

}*/

.active{
    display: block;
    animation: scaleAnim .2s ease-in-out;
    @keyframes scaleAnim {
    0%{
        transform: translateY(-100%) scaleY(0)
    }
    100%{
        transform: translateY(0) scaleY(1)
    }
}
}

input, textarea{
    color: var(--color-white);
    background-color: var(--color-tertiary);
    border:none;
    outline: none;
    border-radius: 30px;
    padding:1rem;
    margin-right:1rem;
    width:100%;
    resize: none;
}

// Controls
.controls{
    position: fixed;
    z-index: 10;
    bottom: 3%;
    right: 50%;
    display: flex;
    flex-direction: row;
    transform: translateX(50%);
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: all .2s ease-in-out;
        animation: buttonAnim .3s ease-in-out;
        @keyframes buttonAnim {
        0%{
            transform: translateY(0) scaleY(1)
        }
        50%{
            transform: translateY(-2rem) scaleY(1.2)
        }
        80%{
            transform: translateY(.5rem) scaleY(.8)
        }
        100%{
            transform: translateY(0) scaleY(1)
        }
    }
    }
    .control{
        padding: 1rem;
        width: 55px;
        height: 55px;
        border-radius: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 .5rem;
        box-shadow: var(--box-shadow-1);
        background-color: var(--color-button);
        cursor: pointer;
        &:hover{
            transition: all .2s ease-in-out;
            background-color: var(--color-button-highlight);
        }
        i{
            font-size:1.2rem;
            color: var(--color-font-1);
            pointer-events: none;
        }
    }
}
.bigicon{
    font-size: 8rem;
    margin-top: 1.5rem;
}
.scroll-window{
    width: 80%;
    position: absolute;
    overflow-y: scroll;
    height: 85%;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:var(--color-primary-window);
    justify-content: center;
    text-align: center;
    padding:3rem;
    .element-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,20rem);
        padding: 1rem;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        align-content: center;
        justify-content: center;
        justify-items: center;
        a{
            color: white;
        }
        .non-interactable{
            background-color: var(--color-button-disabled) !important;
            img{
                filter:none !important;
            }

        }
        .element{
            width: 20rem;
            height: 20rem;
            border-radius: 15px;
            background-color: var(--color-button);
            pointer-events:none;
            transition: all .2s ease-in-out;
            &:hover{
                background-color: var(--color-secondary);
            }
            padding: .5rem;
            //box-shadow: var(--box-shadow-2);

            h1{
                margin-top: 3rem;
                font-size: 2rem;
            }
            .element-picture{
                width: 100%;
                height: 100%;
                padding: .25rem;
                pointer-events:none;
                //background-color: var(--color-frame);
                border-radius: 15px;
                img{
                    pointer-events:auto;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                    transition: all .2s ease-in-out;
                    //box-shadow: var(--box-shadow-2);
                    filter: grayscale(50%);
                    &:hover{
                        filter:grayscale(0);
                    }
                }
            }
        }
        .nopic{
            pointer-events:all;
        }
        .long{
            width: 20rem;
            height: 41rem;
            border-radius: 15px;
            grid-row: span 2;
            background-color: var(--color-button);
            box-shadow: var(--box-shadow-1);
            .element-picture{
                padding: .25rem;
                border-radius: 15px;
                img{
                    border-radius: 15px;
                }
            }

        }
    }
}

a{
    color:var(--color-link-1);
}

.timeline-point{
    width: 80%;
    height: fit-content;
    margin-left:  3rem;
    color:var(--color-white);

    text-align: left;
    display: table;
    .point{
        background-color: white;
        min-width: .5rem;
        width: .5rem;
        height: 100%;
        display:table-cell;
        vertical-align: middle;
    }
    .point-divider{
        vertical-align: middle;
        width: 100%;
        display: table-cell;
        padding: .5rem;
        background-color: var(--color-button);
        h1{
            margin-top:1rem;
            margin-left:1rem;
            width: 90%;
            margin-bottom: 1rem;
            text-shadow: var(--text-shadow-1);
        }
        h2{
            color: var(--color-font-2);
            margin-left:1rem;
            margin-bottom: 1rem;
            width: 90%;
            text-shadow: var(--text-shadow-1);
        }
        p{
            margin-left: 1rem;
            margin-bottom: 1rem;
            width: 90%;
        }
    }
}

.year{
    width: min-content;
    background-color: var(--color-button);
    margin-left:3rem;
    margin-top:5rem;
    padding-right: 1rem;
    margin-bottom:1rem;
    text-align: left;
    h1{
        color:var(--color-white);
        margin-top:.5rem;
        margin-left:1rem;
        margin-bottom: .5rem;
        text-shadow: var(--text-shadow-1);
    }
}

.scroll-narrow{
    width: 30%;
    height: 100%;
    float: right;
    background-color: var(--color-tertiary);
    //clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
    overflow-y: scroll;
    padding-bottom: 10rem;
    padding-top: 2rem;
}

.leftSide{
    text-align: left;
    width:100%;
    resize: none;
    margin-left: 0;

}
.rightSide{
    text-align: right;
    width:100%;
    resize: none;
    margin-right: 0;
}

.resume-button{
    padding:1rem;
    border-radius: 20px;
    width: 20rem;
    height: 4rem;
    display: flex;
    margin-top:1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow-1);
    transition: all .3s ease-in-out;
    color:var(--color-white);


    cursor: pointer;
    &:hover{
        color:var(--color-black);
        //width: 8rem;
        border-radius: 10px;
        font-size: 1.75rem;
        background-color: var(--color-secondary);
    }
}

.my-links{
    margin:auto;
    margin-top:5rem;
    align-items: center;
    justify-content: center;
    a{
        color:white;
        width: 100%;
        margin:0;
    .link-button{
        padding:1rem;
        border-radius: 20%;
        width: 7rem;
        height: 7rem;
        display: flex;
        margin:auto;
        margin-top:1rem;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        background-color: var(--color-primary);
        box-shadow: var(--box-shadow-1);
        transition: all .3s ease-in-out;

        cursor: pointer;
        &:hover{
            color:var(--color-black);
            //width: 8rem;
            border-radius: 0%;
            font-size: 5rem;
            background-color: var(--color-secondary);
        }
    }
}
}

.header-content{
    margin:auto;
    height: 90%;
    width: 100%;
    .main-window{
        background-color:var(--color-primary-window);
        width: 100%;
        height: 85%;
        position: absolute;
        left: 50%;
        top: 45%;
        grid-template-columns: repeat(2,1fr);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        .left-divider{
            height:100%;
            width: 30%;
            float: left;
            padding:2rem;
            padding-right: 5rem;
            text-align: left;
            background-color: var(--color-tertiary);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
            h1{
                padding-top:3rem;
                padding-bottom: 1rem;
            }
        }
        .right-divider{
            height:100%;
            width: 70%;
            float:left;
            padding: 2rem;
            justify-content: center;
            align-items: center;
            .text-block{
                position: relative;
                max-width: 80%;
                margin-top:4vw;
                margin-right:auto;
                margin-left:auto;
                bottom:0%;
                .header-border{
                    margin-bottom: .5rem;
                    width: max-content;
                    text-align: left;
                    padding:1rem;
                    padding-right: 5rem;
                    h1{
                        font-size: 3rem;
                        text-align: left;
                    }
                }
                h2{
                    color: var(--color-font-2);
                    font-size: 1.25rem;
                    padding-left: 2rem;
                    text-align: left;
                }
                p{
                    text-align: left;
                    font-size: 1.2rem;
                    padding-left: 2rem;
                }
                .inputBlock{
                    margin-bottom: 1rem;
                    float:left;
                    width: 100%;
                    display: flex;
                    .inputButton{
                        padding:2rem;
                        width: 5rem;
                        height: 5rem;
                        margin-left: auto;
                        margin-right:1rem;
                        border-radius: 20px;
                        background-color: var(--color-tertiary);
                        align-items: center;
                        text-align: right;
                        display: flex;
                        justify-content: center;
                        font-size: 1.5rem;
                        color:white;
                        transition: all .3s ease-in-out;
                        border-style: hidden;
                        cursor: pointer;
                        &:hover{
                            background-color: var(--color-button-highlight);
                            font-size: 2rem;
                            width: 14rem;
                            i{
                                text-align: right;
                            }
                            p{
                                margin:0rem;
                                width: 100%;
                                transform: scaleX(1);
                                text-align: left;
                                font-size: 2rem;
                                animation: opacityAnim .2s ease-in-out;
                                @keyframes opacityAnim {
                                0%{
                                    transform: scaleX(0);
                                    width: 0%;
                                }
                                100%{
                                    transform: scaleX(1);
                                    width: 100%;

                                }
                            }
                            }
                        }
                        p{
                            text-align: left;
                            transition: .2s ease-in-out;
                            width: 0%;
                            font-size: 0rem;
                            margin:0;
                            padding: 0;
                            transform: scaleX(0);

                
                        }
                
                    }
                }
            }
            .small-margin{
                margin-top:2vw;
            }
            .large-margin{
                margin-top:12vw;
            }
        }

    }
    .picture-frame{
        background-color:var(--color-secondary);
        padding: 5px;
        width: min-content;
        position:relative;
        left:10%;
        top:10%;
        z-index: 2;
        img{
            height:15rem;
        }
    }

}

.collage{
    display: inline-grid;
    grid-template-columns: repeat(3,auto);
    margin-top: 10rem;
    //grid-template-rows: repeat(2,30rem);

    height: fit-content;
    .imgcontainer{
        height: fit-content;
        width: fit-content;
        margin:1rem;
        background-color:var(--color-button-disabled);
    img{
        display: inline-block;
        height: 20rem;
        max-height: 20rem;
        margin:.5rem;
    }
}
}

.timelineHeader{
    width: 80%;
    background-color: var(--color-button);
    color:var(--color-white);
    margin-top: 3rem;
    margin-left:  3rem;
    padding:1rem;
    h1{
        text-shadow: var(--text-shadow-1);
    }
}

.video-frame{
    padding: 2px;
    margin:4rem;
    float:left;
    video{
        height:100%;
        width:100%;
    }
}

.portfolio-header{
    margin-bottom: 2rem;
    margin-top:2rem;
    font-size: rem;
}

.portfolio-text{
    margin-bottom: 1rem;
}

@media screen and (max-width: 1020px) {

    .collage{
        display: inline-grid;
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(3,auto);
        margin-top: 2rem;
        .imgcontainer{
            margin-left: auto;
            margin-right: auto;

        }
    }
    .video-frame{
        padding: 1rem !important;
        margin:0rem !important;
    float:left;
    video{
        height:100%;
        width:100%;
    }
}
    .timelineHeader{
        margin-left: 2rem;
        margin-right: 2rem;
        left:0;
        right:0;
    }
    .timeline-point{
        margin-left: 2rem;
        margin-right: 2rem;
        left:0;
        right:0;
    }
    .year{
        width: min-content;
        padding-right: 1rem;
    }
    .scroll-window{
        width: 100%;
    }
    section{
        min-height: 100vh;
        width: 100vw !important;
        position: absolute;
        left:0;
        top:0;
        padding: 0rem 0rem !important;
    }
    .header-content{
        height: fit-content !important ;
        width: 100vw !important;
        overflow-x: hidden !important;
        margin:0 !important;
        padding: 0;
    .main-window{

        height: 87.5vh !important;
        overflow-y: scroll;
        overflow-x: hidden;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr, 1fr !important;
        display: grid !important;
        width: 100vw !important;
        padding: 0rem !important;
        margin:0 !important;
        left: 0%;
        top: 0%;
        position: relative;
        -webkit-transform: none;
        transform: none;

        .left-divider{
            height: fit-content !important;
            width: 100vw !important;
            grid-row: 2 !important;
            display: inline-grid !important;
            float:none !important;
            clip-path:none !important;
            margin:0 !important;
            padding: 2rem;
            .my-links{
                margin-bottom: 8rem;
                align-items: center !important;
                justify-content: center !important;
                display: grid !important;
                grid-template-columns: repeat(2,1fr);
                width: fit-content;
                a{
                    width: fit-content;
                    margin:auto;
                    margin-left: .5rem;
                    margin-right: .5rem;

                .link-button{
                    padding:1rem;
                    border-radius: 20%;
                    width: 7rem;
                    height: 7rem;
                    display: flex ;
                    margin:auto;
                    margin-top:1rem;
                }
                }
            }
        }
        .right-divider{
            height: fit-content !important;
            float:none !important; 
            width: 100vw !important;
            display: inline-grid !important;
            margin-bottom: 5rem;
            margin-top: 5rem;
            margin:0 !important;
        }
        .scroll-narrow{
            
            width: 100vw !important;
            height: fit-content;
            float: right;
            display: inline-grid !important;
            grid-row: 2 !important;
            background-color: var(--color-tertiary);
            overflow-y: none ;
            padding-bottom: 10rem;
            padding-top: 2rem;
        }
    }
}
.text-block{
    position: relative;
    max-width: 100% !important;
    width: 95%;
    margin-top:2rem !important;
    margin-bottom:5rem !important;
    .header-border{
        margin-top: 3rem;
        margin-bottom: 1.5rem !important;
        width: 100%;
        max-width: 100%;
        text-align: left;
        padding: 0 !important;
        h1{
            font-size: 2rem !important;
            text-align: left;
        }
    }
    h2{
        color: var(--color-font-2);
        font-size: 1.25rem;
        padding-left: 1rem !important;
        text-align: left;
    }
    p{
        text-align: left;
        font-size: 1.2rem;
        padding-left: 1rem !important;
    }
}

}